# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.firebase
.firebaserc
firebase-debug.log

# Firebase native configs
**/google-services.json
**/GoogleService-Info.plist

# Claude Code
**/.claude/

# Screenshots
screenshots/output
!tools/screenshots/output/en-GB/
screenshots/node_modules