@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

body {
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: black;
}

/* Additional styles to ensure proper tinting */
html,
body {
    height: 100%;
    margin: 0;
    /*background-color: #1e2938; !* Your tint color *!*/
    /*background: transparent !important;*/

    overscroll-behavior: none;
    overflow: hidden;
}

main {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#root {
    padding: 0;
    text-align: center;
}

/* Remove the blue outline on focus */
* {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
    /* For Safari and Chrome on mobile */
}

/*body { background: transparent; }*/
/*ion-content { --background: transparent; }*/

.seamless {
    opacity: 0.8;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25)), radial-gradient(#444cf7 1px, transparent 1px),
    radial-gradient(#444cf7 1px, rgba(229, 229, 247, 0) 1px);
    background-size: 100% 100%,
    20px 20px,
    20px 20px;
    background-position: 0 0,
    0 0,
    10px 10px;

    -webkit-mask-image: linear-gradient(to bottom, black, transparent);
    mask-image: linear-gradient(to bottom, black, transparent);
}

.magicpattern {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url('assets/icons/magic-pattern.svg');
}

.embla__viewport {
    overflow: visible !important;
}

/* Fade in up animation for empty state */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
