node_modules/
workshop/

.docs/
.github/
.husky/
.turbo/
.vscode/

.env
.gitignore
.eslintignore
.eslintrc.cjs
.gitignore
.gitkeep
.npmrc
.prettierignore
.prettierrc
.turbo-cookie

package.json
pnpm-lock.yaml
pnpm-workspace.yaml
README.md
tsconfig.json
turbo.json

shared/apis/support-api/
shared/apis/tenant-api/
shared/assets/
shared/configs/
shared/components/.turbo/turbo-build.log
shared/components/dist/
shared/components/node_modules/
shared/components/package.json
shared/styles/
shared/utils/package.json

apps/mobile-app/
# apps/support-cloud/
apps/care-cloud/.turbo/
apps/care-cloud/dist/
apps/care-cloud/node_modules/
apps/care-cloud/public/
apps/care-cloud/openapitools.json
apps/care-cloud/package.json
apps/care-cloud/README.md